[Unit]
Description=Restart wireguard vpn

[Service]
Type=simple
ExecStart=/bin/bash /home/mhmd/.scripts/fix_wireguard.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
